<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fixed Social Sidebar</title>

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
	<link href="{{ "css/main.css" | absURL }}" rel="stylesheet" type="text/css" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js">
	</script>

</head>
<body>
 	<div class="ph1 ph4-m ph5-l flex items-stretch items-start flex-wrap flex-nowrap-l pb5">
		<nav id="social-sidebar">
			<ul class="fiexed-sidebar">
				<li>
					<a href="/enquiry_form" class="entypo-twitter" target="_blank">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<span>Enquery</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>