{{ partial "header.html" . }}
{{ partial "page_title.html" . }}
{{ partial "fixed_icon.html" . }}
  <div class="ph3 ph4-m ph5-l flex items-stretch items-start flex-wrap flex-nowrap-l pb5">
      <main class="pr4-l w-100 w-60-l">
        <div class="aspect-ratio w-100 aspect-ratio--16x9 mb4">
          <div class="aspect-ratio--object z-2 bg-center cover" style="background-image: url(' {{ (trim .Params.featured_image "/") | absURL }}')"></div>
        </div>
      </main>
      <main class="pa3 pa4-ns w-100 w-60-l bg-near-white ">
        <div class="content">
          {{ .Content }}
        </div>
      </main>
  </div>

{{ partial "footer.html" . }}
