{{ partial "header.html" . }}
{{ partial "page_title.html" . }}
{{ partial "fixed_icon.html" . }}
<!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> -->
<link href='{{ "dist/bb.min.css" | absURL}}' rel="stylesheet"/>
  <div class="ph3 ph4-m ph5-l" >
    <div class="content w-100 mb5">
      {{ .Content }}
    </div>
    <main class="flex items-stretch items-start flex-wrap pb1 gallery mb4">
      {{ range .Site.Data.awards.awards }}
      <div class="ph3 w-100 w-third-m w-25-l mb4 tc">
        <a href="{{ (trim .image "/") | absURL }}" class="db mb2 bg-light-gray ba b--moon-gray pa2">
          <div class="square"><div class="content" style="background-image:url('{{ (trim .image "/") | absURL }}')"></div></div>
          </a>
      </div>
      {{ end }}
    </main>
  </div>
{{ partial "footer.html" . }}
<script>
 var bb = baguetteBox.run('.gallery');
 document.addEventListener("turbolinks:before-cache", function() {
   if(bb){
     bb.destroy()
   }
 })
</script>
